<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<style>
    .oxygen-form{
        padding: 30px;
    }
</style>
</head>
<html>
    <body>
    <div class="container" id="form-container">
    <form method="POST" action=" " class="oxygen-form">
      {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" name="leadname" class="form-control" id="name" aria-describedby="leadname">
      <div id="emailHelp" class="form-text">For the sake of Transparency.</div>
    </div>
    <div class="mb-3">
      <label for="agencyname" class="form-label">Agency-Name</label>
      <input type="text" name="agencyname" class="form-control" id="agencyname">
    </div>
    <div class="mb-3">
        <label for="agencyaddress" class="form-label">Agency Address</label>
        <input type="text" name="agencyaddress" class="form-control" id="agencyaddress">
      </div>
      <div class="mb-3">
        <label for="phonenumber" class="form-label">Contact No(Agency)</label>
        <input type="text" name="agencynumber" class="form-control" id="agencycontact">
      </div>
      <div class="mb-3">
        <label for="phonenumber" class="form-label">Verified?(Yes/No)</label>
        <input type="text" name="vertification" class="form-control" id="verified">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
  </body>
  </html>